numpy==2.0.2
pandas==2.2.2
matplotlib==3.10.0
tqdm==4.67.1
opencv-python==4.12.0.88
Pillow==11.3.0
albumentations==2.0.8
torch==2.8.0+cu126
torchvision==0.23.0+cu126
torchaudio==2.8.0+cu126
scikit-learn==1.6.1
timm==1.0.20
seaborn==0.13.2
matplotlib-venn==1.1.2